/* *{
    margin: 1mm;
    padding: 0.5mm;
  }
 */


.NavBar {
    background-color: rgb(136, 135, 141);
    display: flex;
    justify-content: space-between;
}
.navBar--height{
    height: 4.3rem;
  }
  
  
  h3 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 700;
    line-height: 2.2;
  
  }

